:root {
  --primary-color: #59981A;
  --secondary-color: #ECF87F;
  --tertiary-color: #81B622;
  --quaternary-color: #3D550C;
  --hover-color: #4c8018;
  --shadow-color: #3D550C;
}

body {
  font-family: 'Ranchers', cursive;
  background-color: var(--secondary-color);
}

h2 {
  font-size: 3.5rem;
  text-align: center;
  color: var(--primary-color);
}

main {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;

  gap: 4px;
  grid-auto-rows: max-content;
}

.header {
  padding: 15px;
}

.quiz {
  padding: 35px;
  max-width: 560px;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 3px -4px var(--shadow-color);
  -moz-box-shadow: 10px 10px 3px -4px var(--shadow-color);
  box-shadow: 10px 10px 3px -4px var(--shadow-color);
}

.quiz h3 {
  display: block;
  width: 550px;
  font-size: 35px;
  word-wrap: break-word;
}

.submit {
  width: 100%;
  color: white;
  background-color: var(--primary-color);
  font-family: 'Ranchers', cursive;
  outline: none;
  border: none;
  height: 50px;
  font-size: 1.8rem;
  margin-top: 20px;
  border-radius: 5px;
}

.submit:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 30%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--hover-color);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--quaternary-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}